#carrusel{
  text-align: center;
  width: 100%;
  z-index: 1;
}

#flechas{
  z-index: 2;
  position: absolute;
  bottom: 2%;
  display: inline-block;

}

#imageCarrusel{
  width:100%;
  max-width:900px;
}
