#logo{
    margin-top: 2%;
    width:12%;
    display: block;
}

+#fondo{    
 +    position: absolute; 
 +    top: 0; 
 +    left: 0;
 +    width: 100%;
 +    height: 100%;
 +    z-index: -1;}
 +@media only screen and (max-width: 800px) {
 +#fondo{
 +    width: 0%;
 +}
 +body{
 +    background-image: url("../media/body/01.jpg");
 +}
 +}

ul#menu {
    margin-top: -2%;
    margin-left: 12%;
    padding: 0;
    
}

ul#menu li {
    display: inline;

}

ul#menu li a {
    background-color: rgba(162, 98, 227, 0.5);
    color: #FFFFFF;
    text-decoration: none;
}

ul#menu li a:hover {
    background-color: #000000;
}

#ic{
    float: left;
    max-width: 90%;
    display: inline-block;
}
#iconos{
   position: fixed;
   max-width: 90%;
   bottom: 1%;
   left: 95%;
}
